<div id="banner" class="prepend-top"><img src="/images/header_clinical_trials.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
	<%= render 'form' %>
	<%= link_to 'Show', @trial %> |
	<%= link_to 'Back', trials_path %>
</div>


