<div id="banner" class="prepend-top"><img src="/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
	<h1>Listing trials</h1>
	<table>
	  <tr>
	    <th>Title</th>
	    <th>Description</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	
	<% @trials.each do |trial| %>
	  <tr>
	    <td><%= trial.title %></td>
	    <td><%= trial.description.html_safe %></td>
	    <td><%= link_to 'Show', trial %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New Trial', new_trial_path %>
</div>
