<h1>Listing webcasts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webcasts.each do |webcast| %>
  <tr>
    <td><%= webcast.title %></td>
    <td><% videotron = UnvlogIt.new(webcast.link) %><%= videotron.embed_html(133, 118).html_safe %></td>
    <td><%= webcast.description.html_safe %></td>
    <td><%= link_to 'Detail', webcast %></td>
  </tr>
<% end %>
</table>

<br />

