<div id="banner" class="prepend-top"><img src="/mainapp/public/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<div class="span-24 last prepend-top">
<div class="span-12 note">
	<div class="content-padding">
	<h1>News</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<div class="span-12 last">
	<img src="/mainapp/public/images/banner_glenmark.jpg" />
</div>
</div>
<div class="span-24 last prepend-top">
<div class="span-12 note note-color note-orange">
	<div class="content-padding">
	<h1>Events</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<div class="span-12 last">
	<iframe width="470" height="269" src="http://www.youtube.com/embed/FH4AhP71Dfs?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="clear">&nbsp;</div>

