<div id="banner" class="prepend-top"><img src="/images/header_cv_news.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
<%= render 'form' %>
<%= link_to 'Show', @update %> |
<%= link_to 'Back', updates_path %>
</div>




