<div id="banner" class="prepend-top"><img src="/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
<h1>New update</h1>

<%= render 'form' %>

<%= link_to 'Back', updates_path %>
</div>





