<div id="banner" class="prepend-top"><img src="/images/header_sunflowers.jpg" alt="Awaken to health and happiness" /></div>
<div id="content" class="content prepend-top">
<h1>Editing drug_info</h1>

<%= render 'form' %>

<%= link_to 'Show', @drug_info %> |
<%= link_to 'Back', drug_infos_path %>
</div>


