<div><% @drug_info.keys.sort.each do |starting_letter| %>
  <%= starting_letter %></div>
  <div><% @drug_info[starting_letter].each do |drug| %>
    <td><%= link_to "#{drug.title}", drug %></td> 
  <% end %></div>
<% end %>
