<style>
ul.pagination {
  list-style: none;
  color: lightgray;
  padding: 1em 0.5em;
}

ul.pagination strong {
  color: black;
}

ul.pagination li {
  display: inline;
  font-size: 1.1em;
}

ul.pagination li:before {
  content: '| ';
}

</style>
<%= alphabetically_paginate(@drug_infos) %>

<table>
  <tr>
    <th>Title</th>
    <th>Action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drug_infos.each do |drug_info| %>
  <tr>
    <td><%= drug_info.title %></td>
    <td><%= drug_info.action %></td>
    <td><%= link_to 'Show', drug_info %></td>
  </tr>
<% end %>
</table>


